html{
  font-family: Verdana;
}
body{
  background-color: white;
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
}
input[type="submit"], input[type="radio"], select {
  cursor: pointer;
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
  font-size: 1vw;
}

input[type="submit"]{
  padding: 0.5vw;
  font-size: 1.1vw;
  background-color: #00e6ac;
  border: 0px;
}

table{
  text-align: center;

}
table >th{
  background-color: #00e6ac;
  color: white;
}
