@import "pago.css";

* {
  box-sizing: border-box;
}
#cont{
  margin-top: 3vw;
}

form {
  width: 30%;
  padding: 2vw;
  border-radius: 10px;
  margin: auto;
  border: solid 1px white;
  background-color: #0b0b0b52;
}

form label {
  font-weight: bold;
}

.botones {
  display: flex;
  align-content: space-between;
  justify-content: center;
  margin-top: 1vw;
  padding: 2vw 0;
}

#cliente{
  display: grid;
  grid-template-areas: "1 2" "3 4" "5 6" "7 8" "9 10" "11 12" "13 14";
  grid-gap: 1.3vw;
}

#cliente > *{
  width: 100%;
}

input[type="reset"]{
  background-color: #fcb726;
  margin-right: 2vw;
}

input[type="text"], input[type="email"]{
  background-color: #f9141400;
  border: solid 1px white;
  border-radius: 5px;
  font-size: 1vw;
  color: white;
  padding: 0.5vw;
}

#cliente > select:nth-child(14){
  background-color: #f9141400;
  border: solid 1px white;
  border-radius: 5px;
  font-size: 1vw;
  color: white;
  padding: 0.5vw;
  cursor: pointer;
}
