html{
  font-family: Verdana;
  text-align: center;
}
body{
  background-color: #e6f7f4;
  margin: 0;
  padding: 0;
}
figure{
  width: auto;
  margin: auto;
}
figure>img{
  width: 100%;
}
input[type="submit"], input[type="radio"], select {
  cursor: pointer;
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
  font-size: 1vw;
}

input[type="submit"]{
  padding: 0.5vw;
  font-size: 1.1vw;
  background-color: #00e6ac;
  border: 0px;
}

#form{
  display: grid;
  grid-template-areas: "etmovil selec" "etcolor radio" "etcantidad text";
  margin: 0 35vw;
  grid-gap: 1.5vw;
  padding: 3vw 0;
  vertical-align:middle;
}

#form > input, #form >select{
  padding: 0.5vw;
  font-size: 1vw;
}

#radio{
  display: flex;
  justify-content: space-around;
}
