html{
  font-family: Verdana;
}

body{
  background-image: url('../imagenes/pago.png');
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #c9497b;
  color: white;
}

h1{
  text-align: center;
}

.contenedor {
  margin: auto;
  margin-top: 4vw;
  border-radius: 10px;
  text-align: center;
  width: 40%;
  padding: 2vw;
  background-color: #0b0b0b52;
}

.contenedor > h3{
  text-align: left;
}

input[type="submit"], input[type="reset"] {
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5vw;
  font-size: 1.1vw;
  background-color: #43c4e4;
  border: 0px;
  color: white;
}

.botones {
  display: flex;
  align-content: space-between;
  justify-content: center;
  margin-top: 1vw;
  padding: 2vw 0;
}

#volver{
  margin-right: 2vw;
}
